# Backend
BACKEND_PORT=8000

# Frontend
FRONTEND_PORT=4200

# MongoDB
MONGODB_PORT=27017
MONGODB_DATABASE=chess_agent

# Milvus
MILVUS_PORT=19530

# Stockfish
STOCKFISH_PATH=/usr/games/stockfish
STOCKFISH_DEPTH=20
